# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environments
venv/
env/

# Environments
.env

# IDEs
.vscode/

# OS Files
.DS_Store
Thumbs.db

# ==========================================
# CUSTOM RULES FOR OUR POLICY RAG PROJECT
# ==========================================

# Do not push large PDF files to GitHub
data/raw_pdfs/

# Do not push the ChromaDB binary database to GitHub
data/central_chroma_db/